.button {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--text-white);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background-color: var(--primary-hover);
  border: 2px solid var(--primary-hover);
}

.button--outlined {
  background-color: (var(--text-white));
  border: 2px solid var(--secondary);
  color: var(--secondary);
}
.button--outlined:hover {
  background-color: var(--tertiary);
  border: 2px solid #8d48f5;
  color: var(--secondary);
}
